.story-wrapper {
    margin-inline: 0;

    overflow: visible;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.story::before {
    content: "";
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    border-left: 3px dotted var(--main-color);
}

.story {
    border: 1pt solid var(--main-color);
    border-radius: .5rem;
    padding: 1rem;
    margin: 4rem 1rem 0;
    text-align: justify;

    background-color: var(--background-color);

    position:relative;
    
    
    div:first-child:has(h3) {
        flex-direction: column;

        h2 {
            margin-bottom: .5rem;
        }
    }
    
    div {
        display: flex;
        flex-direction: row;

        justify-content: space-between;

        h2 {
            margin-top: 0;
            font-size: x-large;
        }
    
        h3, h4 {
            font-size: medium;
            font-style: italic;
            font-weight: lighter;
            margin-top: 0
        }

        h4 {
            align-self: right;
        }
    }

    img {
        max-width: 30%;
        height: auto;
        object-fit: cover;
    }

    img, p { 
        margin: .5rem;
        border-radius: .5rem;
        
        p {
            margin: 0;
        }

        a {
            margin-top: .5rem;
        }
    }
}

@media (max-width: 900px) {
    .story {
        width: inherit !important;
    }
}

@media (max-width: 500px) {
    .story {
        div {
            flex-direction: column;

            div {
                flex-direction: row;
            }
        }

        img {
            max-width: 100%;
        }

        h2 {
            text-align: center;
        }
    }
}

.size-1 { width: calc(60vw - 4rem) }
.size-2 { width: calc(40vw - 4rem) }
.size-3 {
    width: calc(20vw - 4rem);

    div { flex-direction: column }
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    width: 8rem;
    height: 2.5rem;
    background-color: var(--background-color);
    border: 1px solid var(--main-color);
    border-radius: 1.25rem;
    margin: 1rem auto;
    margin-bottom: 0;
    overflow: hidden;
}

.slider-highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 1.25rem;
    transition: transform 0.3s ease-in-out;
}

.slider-highlight.left {
    transform: translateX(0);
}

.slider-highlight.center {
    transform: translateX(100%);
}

.slider-highlight.right {
    transform: translateX(200%);
}

.slider-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: var(--main-color);
    cursor: pointer;
    z-index: 1;
    transition: color 0.3s ease-in-out;
}

.slider-button.active {
    color: var(--background-color);
}

.slider-button:hover {
    color: var(--hover-color);
}

.slider-button.active:hover {
    color: var(--background-color);
}