.hero-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;

    .particles-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .hero {
        text-align: center;
    
        h1 {
            font-size: 5rem;
        }
    }
}

.social-links-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    a { transition: transform 0.3s ease-in-out }
    a:hover { transform: scale(1.5) }
}

.site {
    display: flex;
    align-items: center;

    span { margin-left: 0.25rem }
}

footer {
    text-align: center;
    padding-top: 2rem;
    font-size: small;
}